@model IEnumerable<ASP_MVC.Models.Recette.RecetteListItem>

@{
    ViewData["Title"] = "Index";
    bool isConnected = sessionManager.ConnectedUser is not null;
}

@if (TempData.ContainsKey("ErrorMessage"))
{
    <div class="alert alert-danger alert-dismissible show fade" role="alert">
        <p>@TempData["ErrorMessage"]</p>
        <button class="btn-close btn" data-bs-dismiss="alert"></button>
    </div>
}

<h1>Recettes</h1>

@if (isConnected)
{
    <p>
        <a asp-action="Create">Ajouter une recette</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Titre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @if (isConnected)
                    {
                        <span>@Html.ActionLink("Modifier", "Edit", new { id = item.Recette_Id }) |</span>
                    }
                    <span>@Html.ActionLink("Plus d'infos", "Details", new { id = item.Recette_Id })</span>
                    @if (isConnected)
                    {
                        <span>| @Html.ActionLink("Supprimer", "Delete", new { id = item.Recette_Id })</span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<hr />
<h1>Les recettes récemments visités :</h1>
<partial name="_RecetteMinList" model="@sessionManager.RecentlyVisitedRecettes"></partial>
